:root{
    --color-primario-claro:#E5DECA;
    --color-primario-oscuro :#ccc5b4;
    --color-secundario-claro:  #A6a092;
    --color-secundario-oscuro: #66635A;
    --color-fondo : #f2ead5;
    --fuente-texto :ExtraLight 200;
    --fuente-titulos:Medium 500 Italic;
    
}
body{
    margin:0;
    background-color: var(--color-fondo);
}

/* inicio del titulo */

#Titulo{
    color: var(--color-fondo);
    font-family: var(--fuente-titulos);
    font-size: 80px;
    background-color:var(--color-secundario-oscuro);
    margin: 20px 20px 20px 20px;
    padding: 50px 25px 20px 70px;
    border-radius: 0.3rem;
}

#intro{
   color: var(--color-primario-claro);
   font-family: var(--fuente-texto);
   font-size: medium;
   float: right;
   position :relative;
   top: 420px;
 

}

#imgtitulo{
    padding: 100px 1px 1px 0px;
    width: 370px;
    height: 370px;
}
 /*fin del titulo*/